.banner {
  background-size: cover;
  background-position: cover;
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}
